@use 'sass:color';

@use '@material/theme/color-palette';


// Svelte Colors!
@use '@material/theme/index' as theme with ($primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

@import '@material/typography/mdc-typography';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

p,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.app-content {
  transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
}